body.form {
    background-image: url(up.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#formulario {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 15px;
    padding: 20px;
    max-width: 450px;
    margin: -60px auto;
}
input[type=range] {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    background-color: rgb(223, 223, 223);
    border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    cursor: pointer;
}
.footerindex {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    letter-spacing: -0.5px;
    display: inline-block;
}
.footerindex a{
    color: white;
}
.whatsapp-icon {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
body.pagina1 {
    background-image: url(mika.png);
    background-repeat: no-repeat;
    background-size: cover;
}
body.pagina2 {
    background-image: url(coffe.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.menu, .linktopindex, .linktop {
    background-color: #000000;
    position: fixed;
    top: 0;
    height: 55px;
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu ul, .linktopindex ul, .linktop ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.menu ul li, .linktopindex ul li, .linktop ul li {
    margin: 0 40px;
}
.menu ul li a, .linktopindex ul li a, .linktop ul li a {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: -0.8px;
    font-size: 16px;
    text-decoration: none;
    padding: 0 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s ease-in-out;
}
.menu ul li a:hover {
    border-color: #fff;    
}
.linktopindex ul li a:hover {
    border-color: #fff;
}
.footerindex a:hover {
    color: #575656;
}
.linktop ul li a:hover {
    border-color: #fff;
}




  